<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OEXPCBackgroundProcessTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OEXPCCTestApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OpenEmuXPCCommunicator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenEmuXPCCommunicatorAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C643AC5017935A9A00456656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C643AC6C17935C1200456656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C643AC92179392C000456656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C643ACAD179392DA00456656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
